<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <appSettings>
      <add key="defaultCountFilePath" value="D:\temp\countLog.txt"/>
      <add key="defaultVectorFilePath" value="D:\temp\vectorLog.txt"/>
      <add key="defaultMatrixDirPath" value="D:\temp"/>
    </appSettings>

</configuration>
